:root {
  // Fonts
  --main-font-bold: "Poppins-Bold";
  --main-font-medium: "Poppins-Medium";
  --main-font-regular: "Poppins-Regular";

  --main-duration: 0.3s;
  --section-padding: 80px;
  // Colors
  --main-black-color: #011a2d;
  --text-hover: #515151;
  --main-color: #d31b1b;
  --main-color-hover: #ff2f2f;
  --white-color: #fff;
  --gray-color: #9b9b9b;
  --green-color: #08b461;
  --background-gray-color: #F7F7F7;
}
